<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="2" name="Chrome" parallel="classes"  >  
    <classes>
      <class name="Test_package.Testclass_testng"/>
      <class name="Test_package.TestClass_B"/>
      <class name="Test_package.TestClass_A"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
